<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JDK_Con"
            connectionString="Data Source = JDK_DESKTOP; Initial Catalog = CardGenerator; Integrated Security = True"
            providerName="System.Data.SqlClient" />
        <add name="Ethan_Con"
             connectionString="Data Source = DESKTOP-TFGLBV0\SQLEXPRESS; Initial Catalog = CardGenerator; Integrated Security = True"
             providerName="System.Data.SqlClient" />    
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
<!---->
